# example of .env file for development. 
REACT_APP_API_URL=http://localhost:8000

# example of .env file for production using reverse proxy. Uncomment the line below and set the correct API URL if needed.
# REACT_APP_API_URL=/api
